@import url('variables.css');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");


html {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    font-family: Montserrat;
}

body {
    background-color: var(--bg-color);
    margin: 0;
}

h1 {
    color: var(--header-font-color);
    font-size: 4em;
} 

h2 {
    color: var(--header-font-color);
} 

h3 {
    color: var(--secondary-font-color);
    margin-bottom: 0px;
    margin-top: 0px;
}

hr {
    color: var(--secondary-font-color);
    width: 100%;
}

p {
    color: var(--header-font-color);
    font-size: 1em;
    margin-top: 0px;
}

a {
    font-size: 1em;
    text-decoration: none;
}

a:link {
    color: var(--header-font-color);
}

a:visited {
    color: var(--header-font-color);
}

a:hover {
    color: var(--link-hover);
}

.arrow {
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
    font-size: 3em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.content-section-start {
    display: grid;
    grid-template-rows: 5fr 1.1fr;
}

.content-section-middle {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    height: 100vh;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.contact-list {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 30px;
}

.contact-list > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.fixed-height {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right {
    padding-left: 80px;
    padding-right: 80px;
}

.left {
    float: right;
}

#my-picture {
    background-image: url('../imgs/evan.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

#programming {
    height: 100vh;
    background-image: url('../imgs/computer.png');
    background-position: center center;
    background-size: cover;
}